Repository Azure/remote-monitoring-services-java, pull requests merged in 2018-10, with the labels that each got.

#60 Fix the local compose file for debugging
  config/conf/application.conf
  device-telemetry/conf/application.conf
  iothub-manager/conf/application.conf
  scripts/local/config/nginx.conf
  scripts/local/docker-compose.yml
  storage-adapter/conf/application.conf
Labels: bug

#59 Add modules controller to look up module twin information
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/Deployments.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/Devices.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/IDevices.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/IJobs.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/Jobs.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/helpers/HashMapHelper.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/DeviceServiceModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/JobServiceModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/TwinProperties.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/TwinServiceListModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/TwinServiceModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/controllers/DevicesController.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/controllers/ModulesController.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/models/DeploymentListApiModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/models/DeviceListApiModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/models/DeviceRegistryApiModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/models/JobApiModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/models/TwinPropertiesApiModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/models/TwinPropertiesListApiModel.java
  iothub-manager/conf/routes
  iothub-manager/test/com/microsoft/azure/iotsolutions/iothubmanager/services/DevicesTest.java
  iothub-manager/test/com/microsoft/azure/iotsolutions/iothubmanager/services/DevicesUnitTest.java
  iothub-manager/test/com/microsoft/azure/iotsolutions/iothubmanager/services/JobsTest.java
Labels: iothub-manager

#58 Add ability to create list and delete edge deployments in deployments…
  iothub-manager/README.md
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/Deployments.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/IDeployments.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/external/StorageAdapterClient.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/helpers/HttpRequestHelper.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/DeploymentMetrics.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/DeploymentServiceListModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/DeploymentServiceModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/DeploymentStatus.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/models/DeploymentType.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/runtime/ServicesConfig.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/controllers/DeploymentsController.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/models/DeploymentApiModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/models/DeploymentListApiModel.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/models/DeploymentMetricsApiModel.java
  iothub-manager/build.sbt
  iothub-manager/conf/routes
  iothub-manager/test/com/microsoft/azure/iotsolutions/iothubmanager/services/DeploymentsTest.java
  iothub-manager/test/com/microsoft/azure/iotsolutions/iothubmanager/services/helpers/TestUtils.java
  iothub-manager/test/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/controllers/DeploymentsControllerTest.java
Labels: iothub-manager

#66 pull request template for the repo
  .github/PULL_REQUEST_TEMPLATE.md
Labels: scripts & docs

#63 User experience update
  device-simulation/scripts/docker/run
  device-simulation/scripts/docker/run.cmd
  docs/LOCAL_DEPLOYMENT.md
Labels: scripts & docs

#82 Windows bug fix
  device-simulation/scripts/docker/run
  device-simulation/scripts/docker/run.cmd
Labels: scripts & docs
