Repository Azure/remote-monitoring-services-java, pull requests merged in 2018-08, with the labels that each got.

#2 Device properties controller test
  iothub-manager/scripts/docker/build
  iothub-manager/scripts/docker/publish
  iothub-manager/scripts/docker/run
  iothub-manager/test/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/controllers/DevicePropertiesControllerTest.java
Labels: iothub-manager

#11 Fix query sepc to use Sql parameters
  pcs-storage-adapter/app/com/microsoft/azure/iotsolutions/storageadapter/services/helpers/QueryBuilder.java
  pcs-storage-adapter/test/com/microsoft/azure/iotsolutions/storageadapter/service/helpers/QueryBuilderTest.java
Labels: bug, storage-adapter

#12 Fix bug of getting allowed actions context when authentication is disabled
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/AuthorizeAction.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/OpenIdConnectJwtValidation.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/AuthorizeAction.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/OpenIdConnectJwtValidation.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/AuthorizeAction.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/OpenIdConnectJwtValidation.java
Labels: bug

#36 Null check for setTags and setReported
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/Devices.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/services/Jobs.java
Labels: iothub-manager

#32 Improve authentication context code
  config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/AuthorizationFilter.java
  config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/AuthorizeAction.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/AuthorizationFilter.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/AuthorizeAction.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/AuthorizationFilter.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/AuthorizeAction.java
Labels: device-telemetry, iothub-manager, pcs-config

#41 User experience update minor docs changes and naming conventions
  docs/LOCAL_DEPLOYMENT.md
  scripts/local/launch/helpers/create_azure_resources.sh
  scripts/local/launch/os/linux/set-env-uri.sh
  scripts/local/launch/os/osx/set-env-uri.sh
  scripts/local/launch/os/win/set-env-uri.cmd
Labels: scripts & docs

#45 Add Diagnostics on Rule Create and Delete
  device-telemetry/README.md
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/services/Rules.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/services/external/DiagnosticsClient.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/services/external/IDiagnosticsClient.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/services/models/DiagnosticsRequestModel.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/services/runtime/DiagnosticsConfig.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/services/runtime/IServicesConfig.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/services/runtime/ServicesConfig.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/runtime/Config.java
  device-telemetry/conf/application.conf
  device-telemetry/test/services/test/AlarmsTest.java
  device-telemetry/test/webservice/test/v1/controllers/AlarmsByRuleControllerTest.java
Labels: device-telemetry
