Repository Azure/remote-monitoring-services-java, pull requests merged in 2018-07, with the labels that each got.

#7 Add Auth to Config Service
  pcs-config/README.md
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/services/external/UserApiModel.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/services/runtime/IServicesConfig.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/services/runtime/ServicesConfig.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/AuthorizationFilter.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/Authorize.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/AuthorizeAction.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/Authorizer.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/ClientAuthConfig.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/IClientAuthConfig.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/IJwtValidation.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/IUserManagementClient.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/OpenIdConnectJwtValidation.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/UserClaims.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/UserManagementClient.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/exceptions/ExternalDependencyException.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/exceptions/InvalidConfigurationException.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/auth/exceptions/NotAuthorizedException.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/runtime/Config.java
  pcs-config/app/com/microsoft/azure/iotsolutions/uiconfig/webservice/v1/controllers/DeviceGroupController.java
  pcs-config/build.sbt
  pcs-config/conf/application.conf
  pcs-config/scripts/build
  pcs-config/scripts/build.cmd
  pcs-config/scripts/docker/docker-compose.yml
  pcs-config/scripts/docker/run
  pcs-config/scripts/docker/run.cmd
  pcs-config/scripts/env-vars-check
  pcs-config/scripts/env-vars-check.cmd
  pcs-config/scripts/env-vars-setup
  pcs-config/scripts/env-vars-setup.cmd
  pcs-config/scripts/run
  pcs-config/scripts/run.cmd
  pcs-config/scripts/sbt-dist/bin/sbt-launch.jar
Labels: pcs-config

#6 Add authorization support based on allowed actions in device-telemetry
  device-telemetry/README.md
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/services/exceptions/NotAuthorizedException.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/AuthorizationFilter.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/Authorize.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/AuthorizeAction.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/Authorizer.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/ClientAuthConfig.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/IClientAuthConfig.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/IJwtValidation.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/IUserManagementClient.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/OpenIdConnectJwtValidation.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/UserClaims.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/UserManagementClient.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/exceptions/ExternalDependencyException.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/exceptions/InvalidConfigurationException.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/auth/exceptions/NotAuthorizedException.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/runtime/Config.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/v1/controllers/AlarmsController.java
  device-telemetry/app/com/microsoft/azure/iotsolutions/devicetelemetry/webservice/v1/controllers/RulesController.java
  device-telemetry/conf/application.conf
  device-telemetry/scripts/build
  device-telemetry/scripts/build.cmd
  device-telemetry/scripts/docker/build
  device-telemetry/scripts/docker/docker-compose.yml
  device-telemetry/scripts/docker/run
  device-telemetry/scripts/docker/run.cmd
  device-telemetry/scripts/env-vars-check
  device-telemetry/scripts/env-vars-check.cmd
  device-telemetry/scripts/env-vars-setup
  device-telemetry/scripts/env-vars-setup.cmd
  device-telemetry/scripts/run
  device-telemetry/scripts/run.cmd
  device-telemetry/scripts/sbt-dist/bin/sbt-launch.jar
Labels: device-telemetry

#5 Add authorization support based on roles and allowed actions
  iothub-manager/README.md
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/AuthorizationFilter.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/Authorize.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/AuthorizeAction.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/Authorizer.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/ClientAuthConfig.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/IClientAuthConfig.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/IJwtValidation.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/IUserManagementClient.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/NotAuthorizedException.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/OpenIdConnectJwtValidation.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/UserClaims.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/auth/UserManagementClient.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/runtime/Config.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/controllers/DevicesController.java
  iothub-manager/app/com/microsoft/azure/iotsolutions/iothubmanager/webservice/v1/controllers/JobsController.java
  iothub-manager/conf/application.conf
  iothub-manager/scripts/build
  iothub-manager/scripts/build.cmd
  iothub-manager/scripts/docker/build
  iothub-manager/scripts/docker/docker-compose.yml
  iothub-manager/scripts/docker/run
  iothub-manager/scripts/docker/run.cmd
  iothub-manager/scripts/env-vars-check
  iothub-manager/scripts/env-vars-check.cmd
  iothub-manager/scripts/env-vars-setup
  iothub-manager/scripts/env-vars-setup.cmd
  iothub-manager/scripts/run
  iothub-manager/scripts/run.cmd
  iothub-manager/scripts/sbt-dist/bin/sbt-launch.jar
  pcs-storage-adapter/scripts/sbt-dist/bin/sbt-launch.jar
Labels: iothub-manager
